html {
	background: darkblue;
}

 h1 {
	color: yellow;
	font-size: 25pt;
	font-style: verdana;
	text-shadow:  12px 6px  10px orange;
	text-align: center;
}
 
p {
	color: white;
	font-size: 15pt;
	font-style: arial;
	text-shadow:  10px 6px  10px blue;
	text-align: center;

}

img {
	position: relative;
	left: 200px;
}












